//16:9での1vw,1vhみたいなもん(レスポンシブ対応？
$width: min(calc(16 * 1vh / 9), 1vw);
$height: min(calc(9 * 1vw / 16), 1vh);
//本体
html {
  body {
    //overflow: hidden;
    background-color: #000;
    #presentation {
      z-index: -999999;
      width: calc($width * 100);
      height: calc($height * 100);
      background-color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      #page0 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        .title {
          font-size: calc(15 * $height);
        }
        .authors {
          font-size: calc(5 * $height);
        }
      }
    }
  }
}
